.AboutPage
  background-color:#0e0c0c
  width:  100%
  height: 100vh
  justify-content: center
  display: flex
  align-items: flex-start
  position: relative
  overflow: hidden


.AboutArea
  display: flex
  flex-direction: column
  margin-right: 16rem
  h1 
    font-weight: 400
    font-size: 42px
    margin: 0
      
  p
    color: #e1e1e1
    font-weight: 300
    text-align: justify
    letter-spacing: 1px

  span
    border-top: 2px solid #e02946
    margin-top: 12px



.ImageArea
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  margin-top: 1rem
  margin-left: 5rem

  .AboutIcon
    color: #ef4d6b

  p 
    color: #e1e1e1

.ImageEdit
  width: 200px
  height: 100%
  border: 3px solid #e02946
  border-radius: 64px

.AboutInfo
  display: flex
  margin-top: 18px
  margin-left: 3rem
  p
    font-weight:500
    color:#e9dcdc
    text-wrap: nowrap

.AboutInfo > div
  margin-right: 10rem

.AboutIcon
  font-size: 24px
  color: #e24862

.Square 
  width: 200px
  height: 200px
  background-color: #e02946

.ButtonArea
  display: flex
  justify-content: center
  align-items: center
  margin-top: 2rem
  margin-bottom: 2rem


