@import '../variables.scss';

.HomePage {
  background-color: $b1;
  width: 100%;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  .TextBox {
    font-size: 25px;
    color: $w3;
    font-weight: 300;
    letter-spacing: 2px;
    margin-left: 20rem;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
    @media screen  and (max-width: 1440px) {
      margin-top: 4.5rem;
    }
 
  }

  .NameBox {
    color: $r1;
    font-size: 60px;
    font-weight: 300;
  }

  .CodeIcon {
    color: $r1;
    font-size: 30rem;

  }

  .CodeBox {
    display: flex;
    margin-right: 20rem;
    @media screen  and (max-width: 1440px) {
      margin-top: 4.5rem;
    }
  
  }

 
  .ButtonBox {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 55%;
    left: 19%;
    @media screen  and (max-width: 1440px) {
      top: 55%;
      left: 25%;
    }
    @media screen  and (max-width: 1024px) {
      top: 55%;
      left: 30%;
    }

    .ButtonArea {
      position: relative;
      display: flex;
      align-items: center;
      width: 125px;
      height: 50px;
      border: 2px solid $r1;
      border-radius: 8px;
      margin: 20px;
      margin-top: 7rem;

      &:hover {
        background-color: $r1;
        transition: .5s;
        border: none;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 50px;
        text-decoration: none;
        color: $w3;
        font-size: 32px;
        border-radius: 8px;
        transition: color 0.5s;
      }

      p {
        font-size: 14px;
        margin-right: 10px;
        z-index: 10;
      }
    }
  }
}