.HomePage
  background-color:#0e0c0c
  width:  100%
  height: 100vh
  justify-content: center
  display: flex
  align-items: center
  position: relative
  overflow: hidden

.TextBox
  font-size: 25px
  color: #FFF
  font-weight:300
  letter-spacing: 2px
  margin-left: 20rem
  text-transform: uppercase
  white-space: nowrap
  margin-bottom: 20px

.NameBox
  color: #e02946
  font-size: 60px


.CodeIcon
  color:#e02946
  font-size: 30rem

.CodeBox
  display: flex
  margin-right: 20rem

// Button

.ButtonBox
  display: flex
  flex-direction: row
  position: absolute
  left: 25rem
  top: 16rem


.ButtonArea
  display: inline-flex
  align-items: center
  width:125px
  height: 50px
  border: 2px solid 
  border-radius: 8px
  margin: 20px
  margin-top: 20rem

  a
    text-decoration: none
    color: #FFF
    font-size: 32px 
    display: flex
    align-items: center
    justify-content: space-between
    width:125px
    height:50px
    justify-content: center

  p
    font-size: 14px
    margin-right: 10px

