@import '../variables.scss';

header {
  background-color: $b2;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1.5rem 3%;
  display: flex;
  z-index: 99;
  border-bottom: 2px solid $g2;
  justify-content: space-between;
  align-items: center;


  .LogoArea {
    width: 64px;
    height: 64px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    @media screen  and (max-width: 1024px) {
      margin-left: 8%;
    }
    @media screen  and (max-width: 1024px) {
      margin-left: 8%;
    }

    img {
      width: 100px;
      height: 100px;
      user-select: none;
    }

    h1 {
      font-size: 32px;
      font-weight: 300;
      color: $w3;
      text-align: left;
      margin-left: 2rem;
      white-space: nowrap; 
      @media screen  and (max-width: 768px) {
        font-size: 26px;
        margin-right: 1.5rem;
      }
    }
  }

  nav a {
    position: relative;
    font-size: 1.2em;
    color: $w3;
    text-decoration: none;
    margin-left: 40px;
    padding: 6px 20px;
    transition: .5s;
    @media screen  and (max-width: 768px) {
      font-size: 13px;
    }

    &:hover {
      color: $r4;
    }

    &.active {
      color: $r4;
    }
  }

  .NavBar {
    margin-left: 30%;
    @media screen  and (max-width: 1024px) {
      margin-left: 15%;
    }
    @media screen  and (max-width: 768px) {
      margin-left: 12%;
    }

  }
}