header
  background-color: #1a1717
  position: fixed
  width: 100%
  top: 0
  left: 0
  padding: 1.5rem 3%
  display: flex 
  z-index: 99
  border-bottom: 2px solid #313131
  justify-content: space-between
  align-items: center

  .LogoArea
    width: 64px
    height: 64px
    user-select: none
    display: flex
    align-items: center
    justify-content: center
    margin-left: 15%

    img
      width: 64px
      height: 64px
      user-select: none
      
    h1
      font-size:  32px   
      font-weight:  300
      color: #FFF
      text-align: left
      margin-left: 2rem
      text-wrap: nowrap
  
  nav a 
    position: relative
    font-size:  1.2em
    color:  #FFF
    text-decoration: none
    margin-left:  40px  
    padding: 6px 20px
    transition: .5s

  nav a:hover
      color: #f24764
    
  nav a.active 
    color:#f24764
    
.NavBar
  margin-left: 30%
