.ProjectsPage
  background-color:#0e0c0c
  width:  100%
  height: 80vh
  justify-content: center
  display: flex
  align-items: center
  position: relative
  overflow: hidden

.ProjectsArea
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  width: 25rem
  height: 12rem

.ProjectsRow


.ProjectImage


.TechImage
   border: 3px solid #e02946
   border-radius: 8px
  
.ProjectText

  h3
    font-size: 25px
    color:#e1e1e1
    font-weight: 400
    text-align: left
  p
    font-size: 15px
    color: #a1a1a1
    font-weight: 300
    text-align: left

.TechUsage
  display: flex
  align-items: center
  margin-top: 8px
  p
    text-align: left
    color: #e1e1e1
    text-transform: uppercase
    font-size: 18px
  .TechIcon
    margin-right: 13rem
    display: flex
    justify-content: space-between
  