// ProjectsPage styles
.ProjectsPage
  background-color: #0e0c0c
  display: flex
  width: 100%
  min-height: 100vh
  justify-content: center
  align-items: center
  position: relative
  overflow: hidden
  flex-direction: column

// TextAreaProjects styles
.TextAreaProjects
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  position: relative
  margin-bottom: 10rem
  margin-top: 12rem

  // h1 styles
  h1
    font-size: 30px
    text-align: center
    margin-left: 1px
    text-transform: uppercase
    color: #e1e1e1
    font-weight: 300

  // BarArea styles
  .BarArea
    background: #e02946
    width: 160px
    height: 3px

.ProjectsArea
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 60px
  max-width: 1200px 
  width: 100% 
  margin: 0 auto // This centers the grid horizontally
  align-items: center
  justify-content: center // Center the items horizontally

// ProjectsBox styles
.ProjectsBox
  display: flex
  flex-direction: column
  justify-content: center

// TechImage styles
.TechImage
  border: 3px solid #e02946
  border-radius: 8px
  width: 100%
  height: 100%

// ProjectText styles
.ProjectText
  h3
    font-size: 25px
    color: #e1e1e1
    font-weight: 400
    text-align: left
  p
    font-size: 15px
    color: #a1a1a1
    font-weight: 300
    text-align: left

// TechUsage styles
.TechUsage
  display: flex
  margin-top: 2px
  align-items: center

  // p styles
  p
    text-align: left
    color: #e1e1e1
    text-transform: uppercase
    font-size: 18px
    margin-right: 10px
    margin-top: 0.5rem

  // TechTexts styles
  .TechTexts
    display: flex
    align-items: center
    margin-top: 8px
    color: #c5dcdc
    text-align: left
    text-wrap: nowrap
    font-size: 15px
    position: absolute
    margin-left: 9rem

// Buttons styles
.Buttons
  display: flex
  align-items: center
  margin-top: 20px

// ButtonsArea styles
.ButtonsArea
  display: inline-flex
  margin-top: 20px
  margin-left: 0.1rem

// ButtonArea styles
.ButtonArea
  position: relative
  align-items: center
  width: 125px
  height: 50px
  border: 2px solid #e02942
  border-radius: 8px
  margin: 20px

  // Button hover styles
  &:hover
    background-color: #e02942
    transition: 0.5s
    border: none

  // Link styles
  a
    display: flex
    align-items: center
    justify-content: center
    width: 120px
    height: 50px
    text-decoration: none
    color: #fff
    font-size: 32px
    border-radius: 8px
    transition: color 0.5s

  // Paragraph styles
  p
    font-size: 14px
    margin-right: 10px
    z-index: 10