@import '../variables.scss';

.SkillsPage {
  background-color: $b1;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  .TextArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-bottom: 27rem;

    h1 {
      font-size: 30px;
      text-align: center;
      margin-left: 1px;
      text-transform: uppercase;
      color: $w1;
      font-weight: 300;
    }

    .BarArea {
      background: $r1;
      width: 160px;
      height: 3px;
      @media screen  and (max-width: 1440px) {
        display: none;
      }
    }
    
  }

  .SkillsArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;

    .TechInfo {
      p {
        margin-top: 5px;
        text-align: center;
        color: $w1;
        font-weight: 300;
      }

      h3 {
        margin-top: 11px;
        margin-bottom: 5px;
        text-align: center;
        color: $w3;
        font-weight: 400;
      }
    }

    .TechCard {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      flex: 0 0 calc(20% - 0.75rem);
      height: calc(25% - 0.75rem);
      margin-top: 50px;
    }
  }

  .BarTop {
    height: 2px;
    width: 90%;
    background: $r1;
    top: 53%;
    position: absolute;
    margin-left: 6rem;
    @media screen  and (max-width: 1024px) {
      margin-left: 2rem;
      width: 95%;
    }
    
  }

  // icons 

  .icon {
    font-size: 32px;
  }

  // frontend icons

  .HtmlIcon {
    color: $m2;
  }

  .CssIcon {
    color: $m3;
  }

  .JsIcon {
    color: $m4;
  }

  .ReactIcon {
    color: $m5;
  }

  .BsIcon {
    color: $m6;
  }

  .SassIcon {
    color: $m7;
  }

  .NextIcon {
    color: $g4;
  }

  .TsIcon {
    color: $m8;
  }

  // backend icons

  .NodeIcon {
    color: $m9;
  }

  .MySqlIcon {
    color: $m10;
  }

  .MongoDbIcon {
    color: $m11;
  }

  .PostGreIcon {
    color: $m12;
  }

  .ExpressIcon {
    color: $g5;
  }

  .JavaIcon {
    color: $g5;
  }
}