// Default colors definition:



// black colors

$b1: #0e0c0c;
$b2: #1a1717;


// white colors

$w1: #e1e1e1;
$w2: #e9dcdc;
$w3:   #fff;

// grey colors

$g1: #919191;
$g2: #313131;
$g3: #a1a1a1;
$g4: #d2cfcf;
$g5: #7e7e7e;

// red colors

$r1: #e02946;
$r2: #e24862;
$r3: #ef4d6b;
$r4: #f24764;

// misc colors

$m1: #c5dcdc;
$m2: #ec4d26;
$m3: #1b72bd;
$m4: #eedb4d;
$m5: #94dff3;
$m6: #5b397b;
$m7: #c76494;
$m8: #2f74c0;
$m9: #7dc908;
$m10: #00718b;
$m11: #12a54f;
$m12: #2e5d8d;